
#fixed
{
    /* target the div tag */
    border: 1px solid black;
    width: 200px;
    height: 5px;
    background-color: black;
}

#movable
{
    border: 1px solid yellow;
    height: 5px;
    background-color: yellow;
    width: 20px;
}

i{
    font-size: 30px;
}

img{
    width: 250px;
    height: 250px;
}